body {
    background-color: #e1ccb3;
    /* display:grid;
    grid-template-rows: 20% 20% 20% 20% 20%; */
    /* grid-template-rows: 100% repeat(auto-fill, 999px); */
    /* grid-template-columns: 25% 20% 20% 20% 20%;
    position:relative; */
    display:flex;
    min-height: 100vh;
    margin:0;
}

.rightside{
    /* grid-column: 2fr; */
    display:flex;
    width: 100%;
    min-height:100%;
    order:2;
}

.leftside {
    background-color: #F9F3EC;
    position:relative;
    order:-1;
    display:flex;
    width:50%;
    /* grid-column:25%; */
}

.leftcontent{
    background-color: #F9F3EC;
    position: fixed;
    top: 0;
    bottom:0;
    overflow:auto;
    width: 25%;
}
.nav{
    position:fixed;
    display:flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
}

nav ul {
    list-style-type: square;
}

h1 {
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    color: #5394A0;
    font-size: 40px;
}

/* work on placing About Docs to rightside of the page */
/* nav ul{
    list-style-type: none; */
    /* justify-content: right;
    text-align: right; */
/* } */