body {
    background-color: #e1ccb3;
    /* display:grid;
    grid-template-rows: 20% 20% 20% 20% 20%; */
    /* grid-template-rows: 100% repeat(auto-fill, 999px); */
    /* grid-template-columns: 25% 20% 20% 20% 20%;
    position:relative; */
    display:flex;
    min-height: 100vh;
    margin:0;
}
.page_container{
    display:flex;
    width: 100%;
    min-height:100%;
    /* position:relative; */
}

.rightside{
    /* grid-column: 2fr; */
    /* display:flex;
    width: 100%;
    min-height:100%;
    order:1;
    position:relative; */
    flex:1;
    flex-basis: 0%;
}
.title{
    position: relative;
    left: 150px;
    /* text-align: center; */
    /* display:flex; */
    justify-content: center;
}
main ul{
    display:inline-block;
    /* justify-content: right; */
    /* margin-left: auto; */
    right: 100px;
    /* z-index: auto; */
    position:absolute;
}
.leftside {
    background-color: #F9F3EC;
    /* position:relative; */
    order:-1;
    display:flex;
    /* width:50%; */
    /* grid-column:25%; */
}

.leftcontent{
    background-color: #F9F3EC;
    position: fixed;
    top: 0;
    bottom:0;
    overflow:auto;
    width: 20%;
}

div {
    display:block;

}
.buttons{
    display:flex;
    justify-content: flex-end;
    /* padding:100px */
}
.newnote{
    display:flex;
    justify-content: flex-end;
}
.darktheme{
    justify-content: end;
    position: relative;
    display:inline-flex
}



/* .nav{ */
    /* position:fixed; */
    /* display:flex; */
    /* flex-direction: column; */
    /* overflow: hidden; */
    /* box-sizing: border-box; */
/* } */

aside ul {
    list-style-type: square;
    position:relative;
}

h1 {
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    color: #5394A0;
    font-size: 40px;
}

main{
    display:block;
}
/* work on placing About Docs to rightside of the page */
/* nav ul{
    list-style-type: none; */
    /* justify-content: right;
    text-align: right; */
/* } */